img {
  max-width: 100%;
  max-height: 300px;
}

.voting-container {
  text-align: center;
}

.voting {
  display: inline-block;
  max-width: 25%;
  margin: 40px auto;
}

#tab {
  visibility: hidden;
}